@model IEnumerable<Filipan_Dănuț_Proiect.Models.ShopViewModels.OrderGroup>
@{
    ViewData["Name"] = "Ordered Drinks Statistics";
}
<h2>Ordered Drink Statistics</h2>
<table>
    <tr>
        <th>
            Order Date
        </th>
        <th>
            Ordered Drinks
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @item.DrinkCount
            </td>
        </tr>
    }
</table>